<!DOCTYPE html>


    <div ng-controller="LoginControl" class="container">
        <h1>Login</h1>
        <input ng-model="model.user.username"
               type="text"
               class="form-control"
               placeholder="username"
               id="username"/>
        <input ng-model="model.user.password"
               type="password"
               class="form-control"
               placeholder="password"
               id="password"/>
        <a ng-click="model.login()"
           class="btn btn-primary btn-block"
           href="#/user/:uid">Login</a>

        <a class="btn btn-success btn-block"
           href="#/register">Register</a>
    </div>

<div ng-view></div>

