<!DOCTYPE html>

<nav class="navbar navbar-style navbar-dark navbar-expand-md navbar-fixed-top">
    <a class="navbar-brand navbar-style" href="#">
        aqua regia
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="d-flex justify-content-between collapse navbar-collapse navbar-style" id="navbarSupportedContent">
        <ul class="flex-grow-0 nav navbar-nav navbar-style navbar-dark">
            <li class="nav-item navbar-dark navbar-style">
                <a class="nav-link" href="#/SearchResults">Browse</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-style navbar-dark navbar-right">
            <li class="nav-item navbar-dark navbar-style">
                <form class="form-inline">
                    <label class="sr-only" for="searchInput">search input</label>
                    <input class="form-control m-1" id="searchInput" type="search" placeholder="" aria-label="Search">
                    <button class="button btn btn-outline-light m-1" type="submit">Search</button>
                    <label class="sr-only" for="usernameInput">username</label>
                    <input class="form-control m-1" id="usernameInput" type="text" placeholder="username" aria-label="username">
                    <label class="sr-only" for="passwordInput">password</label>
                    <input class="form-control m-1" id="passwordInput" type="password" placeholder="password" aria-label="password">
                </form>
            </li>
            <li class="nav-item navbar-dark navbar-style">
                <a class="nav-link" href="#/profile">Login</a>
            </li>
            <li class="nav-item navbar-dark navbar-style">
                <a class="nav-link" href="#/register">Register</a>
            </li>
        </ul>
    </div>
</nav>



<div class="container mt-3">

    <form class="form-inline">
        <label class="sr-only" for="newSearch">new search</label>
        <input class="form-control m-1" id="newSearch" type="search" placeholder="" aria-label="Search">
        <button class="btn btn-primary m-1" type="submit">Search</button>
    </form>

</div>