<!DOCTYPE html>

<div class="container">
    <form>
        <div class="form-group">
            <label for="imagename">Name</label>
            <input ng-model="model.widget.name" type="text" class="form-control" id="imagename" placeholder="">
        </div>
        <div class="form-group">
            <label for="imagetext">Text</label>
            <input ng-model="model.widget.text" type="text" class="form-control" id="imagetext" placeholder="">
        </div>
        <div class="form-group">
            <label for="imageurl">URL</label>
            <input ng-model="model.widget.url" type="url" class="form-control" id="imageurl" placeholder="">
        </div>
        <div class="form-group">
            <label for="imagewidth">Width</label>
            <input ng-model="model.widget.width" type="text" class="form-control" id="imagewidth" placeholder="100%">
        </div>
        <div class="form-group">
            <label for="imagefile">Upload</label>
            <input ng-model="model.widget.upload" type="file" class="form-control" id="imagefile" placeholder="No file chosen">
        </div>
    </form>

    <a class="btn btn-primary btn-block"
       href="#//user/:uid/website/:wid/page/:pid/widget">Upload Image</a>

</div>
