<!DOCTYPE html>

<nav class="navbar navbar-style navbar-dark navbar-expand-md navbar-fixed-top">
    <a class="navbar-brand navbar-style" href="#">
        aqua regia
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="d-flex justify-content-between collapse navbar-collapse navbar-style" id="navbarSupportedContent">
        <ul class="flex-grow-0 nav navbar-nav navbar-style navbar-dark">
            <li class="nav-item navbar-dark navbar-style">
                <a class="nav-link" href="#">Browse</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-style navbar-dark navbar-right">
            <li class="nav-item navbar-dark navbar-style">
                <form class="form-inline">
                    <label class="sr-only" for="searchInput">search input</label>
                    <input class="form-control m-1" id="searchInput" type="search" placeholder="" aria-label="Search">
                    <button class="btn btn-outline-light m-1" type="submit">Search</button>
                    <label class="sr-only" for="usernameInput">username</label>
                    <input class="form-control m-1" id="usernameInput" type="text" placeholder="username" aria-label="username">
                    <label class="sr-only" for="passwordInput">password</label>
                    <input class="form-control m-1" id="passwordInput" type="password" placeholder="password" aria-label="password">
                </form>
            </li>
            <li class="nav-item navbar-dark navbar-style">
                <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item navbar-dark navbar-style">
                <a class="nav-link" href="#/register">Register</a>
            </li>
        </ul>
    </div>
</nav>



<div class="container mt-3">
    <div class="row">
        <div class="col-3">
    <div class="card">
        <img class="card-img-top" src="/images/blank_profile.png" alt="hello profile image" width="100" height="150">
        <div class="card-header">display name</div>
        <div class="card-body text-primary">
            <p class="card-text">username</p>
            <p class="card-text">email</p>
            <p class="card-text">joined</p>
        </div>
    </div>
        </div>
<div class="col-6">
    <h3>user description</h3>
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
    <div class="col-3">
        <div class="btn-group-vertical">
            <a href="#/profile/edit" class="btn btn-primary">edit profile</a>
            <a href="#" class="btn btn-secondary">settings</a>
            <a href="#/followers" class="btn btn-secondary">followers</a>
            <a href="#/following" class="btn btn-secondary">following</a>
        </div>
    </div>
</div>



    <h3>touchstones</h3>
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="/images/onceandfuturekingcover.jpg" alt="work title" width="75" height="100">
            <div class="card-body text-primary">
                <h6 class="card-title">The Once And Future King</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">fiction</li>
                    <li class="list-group-item">T.H. White</li>
                    <li class="list-group-item">1958</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/potc_poster.jpg" alt="work title" width="75" height="100">
            <div class="card-body text-primary">
                <h6 class="card-title">Pirates of the Caribbean</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">film</li>
                    <li class="list-group-item">Jerry Bruckheimer</li>
                    <li class="list-group-item">2003</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/iasip_poster.jpeg" alt="work title" width="75" height="100">
            <div class="card-body text-primary">
                <h6 class="card-title">It's Always Sunny in Philadelphia</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">television</li>
                    <li class="list-group-item">RCG</li>
                    <li class="list-group-item">2005</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/crimson_peak_poster.jpeg" alt="work title" width="75" height="100">
            <div class="card-body text-primary">
                <h6 class="card-title">Crimson Peak</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">film</li>
                    <li class="list-group-item">Guillermo del Toro</li>
                    <li class="list-group-item">2015</li>
                </ul>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="/images/middlemarch.jpeg" alt="work title" width="75" height="100">
            <div class="card-body text-primary">
                <h6 class="card-title">Middlemarch</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">fiction</li>
                    <li class="list-group-item">George Eliot</li>
                    <li class="list-group-item">1872</li>
                </ul>
            </div>
        </div>

        </div>


    <h3>infinitives</h3>
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="/images/onceandfuturekingcover.jpg" alt="work title" width="75" height="100">
            <div class="card-body text-primary">
                <h6 class="card-title">The Once And Future King</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">fiction</li>
                    <li class="list-group-item">T.H. White</li>
                    <li class="list-group-item">1958</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/potc_poster.jpg" alt="work title" width="75" height="100">
            <div class="card-body text-primary">
                <h6 class="card-title">Pirates of the Caribbean</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">film</li>
                    <li class="list-group-item">Jerry Bruckheimer</li>
                    <li class="list-group-item">2003</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/iasip_poster.jpeg" alt="work title" width="75" height="100">
            <div class="card-body text-primary">
                <h6 class="card-title">It's Always Sunny in Philadelphia</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">television</li>
                    <li class="list-group-item">RCG</li>
                    <li class="list-group-item">2005</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/crimson_peak_poster.jpeg" alt="work title" width="75" height="100">
            <div class="card-body text-primary">
                <h6 class="card-title">Crimson Peak</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">film</li>
                    <li class="list-group-item">Guillermo del Toro</li>
                    <li class="list-group-item">2015</li>
                </ul>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="/images/middlemarch.jpeg" alt="work title" width="75" height="100">
            <div class="card-body text-primary">
                <h6 class="card-title">Middlemarch</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">fiction</li>
                    <li class="list-group-item">George Eliot</li>
                    <li class="list-group-item">1872</li>
                </ul>
            </div>
        </div>

    </div>
    </div>