<!DOCTYPE html>
<div ng-controller="PageListController">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left">
            </span>
            </a>
        </p>

        <a class="navbar-brand" href="#">
            Pages
        </a>
        <p class="navbar-text pull-right navbar-glyphs">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="navbar-link">
          <span class="glyphicon glyphicon-plus">
          </span>
            </a>
        </p>
    </div>
</nav>

<div class="container">
    <div ng-repeat="page in model.pages">
        <div class="row row-spacing">
            <div class="col-xs-12">
                <div class="text-left">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                        {{page.name}}
                    </a>
                    <div class="pull-right">
                        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}">
                    <span class="glyphicon glyphicon-cog">
                    </span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <span class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </span>
    </div>
</nav>
</div>